In [1]:
import pandas as pd

In [2]:
data = {'Name':['aman', 'tanmoy', 'joy', 'deep'], 'Age':[20,21,14,32], 'Sex':['Male','Male','Male','Male']}
newlg = pd.DataFrame(data)
print(newlg)

     Name  Age   Sex
0    aman   20  Male
1  tanmoy   21  Male
2     joy   14  Male
3    deep   32  Male

In [4]:
newlg.iloc[2]

Name     joy
Age       14
Sex     Male
Name: 2, dtype: object

In [9]:
newlg['Name']

0      aman
1    tanmoy
2       joy
3      deep
Name: Name, dtype: object

In [8]:
ages = pd.Series([22,32,16] , name="Age")
print(ages)

0    22
1    32
2    16
Name: Age, dtype: int64